.main-navigation {
  padding-left: 2%;
  align-items: center;
  vertical-align: middle;
  align-content: center;
  background-color: #1a4cae !important;
}
.main-title {
  position: relative;
  vertical-align: middle;
}
.main-upper-header {
  border-radius: 0 0 0 0 !important;
  margin-bottom: 0px !important;
}
.category-label {
  font-size: 0.875rem;
  min-height: 42px;
  padding-left: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  position: relative;
  color: #1a4cae;
  cursor: pointer;
}
.task-label {
  height: 42px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 32px;
  font-size: 0.875rem;
  display: block;
}
a[href]:hover {
  text-decoration: underline;
  color: #1a4cae;
}
.catChevron {
  float: right;
  transform: scale(2, 1);
  font-style: bold;
  font-size: 0.7rem;
}
